body{
    background-image: url('images/stockPig.jpg');
}
.stu{
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px;
}
#text{

    height: 25px;
    border-radius: 5px;
    padding: 4px;
    border: solid thin #aaa;
    width: 100%;
}

#button{

    padding: 10px;
    width: 100px;
    color: white;
    background-color: lawngreen;
    border: none;
}

#box{
    margin: auto;
    width: 300px;
    padding: 20px;
}